/**
 * Admin Dashboard style for the theme.
 *
 * @package Mystery Themes
 * @subpackage News Portal
 * @since 1.5.0
 */

#news-portal-welcome-notice {
  position: relative;
}

.news-portal-welcome-title-wrapper {
  padding: 10px 0 15px;
  border-bottom: 1px dashed #919191;
  margin-bottom: 15px;
}

.news-portal-welcome-title-wrapper .notice-title {
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 600;
}

.welcome-notice-details-wrapper {
  margin-left: -3%;
	padding:10px 20px 10px;
	display: flex;
	align-items: center;
}

.welcome-notice-details-wrapper .notice-detail-wrap {
  display: inline-block;
  width: 65.33%;
  margin-left: 2%;
  margin-right: -4px;
  vertical-align: top;
}

.welcome-notice-details-wrapper .notice-detail-wrap.image {
	width: 16%;
	margin-left:10%;
}

.notice-detail-wrap.image img {
  width: 100%;
}

.notice-detail-wrap .dashicons {
  margin-right: 5px;
}

.notice-detail-wrap .wrap-content {
  color: #505050;
  line-height: 1.8;
}

.notice-detail-wrap .wrap-content {
  color: #505050;
  line-height: 1.8;
  font-size: 14px;
}

.notice-detail-wrap .wrap-title {
	margin-bottom: 15px;
	font-size: 22px;
	font-weight: 600;
}

.demo-wrap {
  margin-bottom: 30px;
}

.welcome-notice-details-wrapper .notice-detail-wrap.image figure {
  margin: 0;
}

.general-content.wrap-content {
  margin-bottom: 15px;
}

.news-portal-get-started.button.button-primary.button-hero {
	margin-right: 5px;
	margin-bottom: 15px;
}

.wp-core-ui .button.button-hero svg {
	display: inline-block;
	vertical-align: baseline;
  }

.wp-core-ui .button.button-hero{
	padding:0px 15px;
	margin-right: 5px;
	min-height: 36px;
	line-height: 2.6;
}

.news-portal-get-started.updating-message::before,
.general-info-links .updating-message::before {
  margin: 11px 5px 0 -2px;
}

/* Dashboard */
.appearance_page_news-portal-dashboard #wpcontent {
  padding-left: 0;
  background: #F5F7F9;
}

#news-portal-dashboard .dashboard-header {
  margin-top: -20px;
  padding: 0px 20px 0;
  background: #fff;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 40px;
}

.news-portal-container {
  max-width: 1300px;
  margin: 0 auto;
}

#news-portal-dashboard .header-top {
  display: flex;
  align-items: center;
  padding: 50px 0px;
}

#news-portal-dashboard .theme-version {
  margin-left: auto;
  margin-right: 6px;
  font-weight: 600;
}

#news-portal-dashboard .dashboard-nav li {
  list-style: none;
  margin: 0;
}

#news-portal-dashboard .nav-tab {
  background: none;
  border: none;
}

#news-portal-dashboard .header-nav,
#news-portal-dashboard .dashboard-nav {
  display: flex;
}

#news-portal-dashboard .upgrade-pro {
  margin-left: auto;
}

#news-portal-dashboard .dashboard-nav li a {
  color: #282828;
  font-size: 20px;
  display: block;
  margin: 0 50px 0 0px;
  padding: 0 0 10px;
  border-bottom: 5px solid transparent;
}

#news-portal-dashboard .dashboard-nav li a:hover,
#news-portal-dashboard .dashboard-nav li a.nav-tab.active {
  color: #0073AA;
  border-bottom: 5px solid #0073AA;
}

#news-portal-dashboard .dashboard-nav li a .dashicons {
  vertical-align: middle;
  position: relative;
  top: -2px;
  font-size: 18px;
}

#news-portal-dashboard .dashboard-content-wrapper>.news-portal-container {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-column-gap: 30px;
}

#news-portal-dashboard .dashboard-content-wrapper .main-content.welcome-content-wrapper {
  display: grid;
  grid-template-columns: 48% 48%;
  grid-column-gap: 30px;
  background: none;
}

#news-portal-dashboard .welcome-block {
  background: #fff;
  padding: 30px;
  box-sizing: border-box;
  margin-bottom: 30px;
  text-align: left;
}

#news-portal-dashboard .block-header {
  display: flex;
}

#news-portal-dashboard .block-header img {
  margin-right: 15px;
  width: 42px;
}

#news-portal-dashboard .quick-links .block-header img {
  width: 32px;
}

#news-portal-dashboard .block-content.content-column {
  display: grid;
  grid-template-columns: 46% 46%;
  list-style: none;
  grid-column-gap: 30px;
}

#news-portal-dashboard .block-content.content-column .col li a {
  display: block;
  width: 100%;
  text-align: left;
  font-size: 14px;
  text-decoration: none;
  color: #0073AA;
  padding: 8px 0 8px;
  border-bottom: 1px solid #e1e1e1;
  font-weight: 600;
}

#news-portal-dashboard .block-content.content-column .col li a span {
  font-size: 16px;
  margin-right: 8px;
}

#news-portal-dashboard .sidebar-wrapper .sidebar {
  background: #fff;
  padding: 10px 20px 30px;
  text-align: center;
}

#news-portal-dashboard .block-content.content-column .col li:last-child a {
  border-bottom: navajowhite;
}

#news-portal-dashboard .welcome-block .block-content p {
  font-size: 15px;
  line-height: 1.8;
  color: #616161;
}

#news-portal-dashboard .welcome-block .block-content p a {
  margin-top: 20px;
  text-decoration: none;
  display: block;
  line-height: 20px;
  font-weight: 600;
}

#news-portal-dashboard .welcome-block .block-content p a .dashicons {
  font-size: 20px;
  margin-left: 6px;
}

#news-portal-dashboard .return-to-dashboard {
  text-align: left;
}

/* Free Vs Pro */
#news-portal-dashboard .main-content {
  background: #fff;
  text-align: center;
}

#news-portal-dashboard .main-content.starter-content-wrapper {
  padding: 0 0 20px;
}

#news-portal-dashboard .main-content.free-pro-content-wrapper tr {
  border-bottom: 1px solid #e1e1e1;
}

#news-portal-dashboard .main-content.free-pro-content-wrapper td:first-child {
  text-align: left;
  padding-left: 30px;
}

#news-portal-dashboard .main-content.free-pro-content-wrapper td h3 {
  font-size: 18px;
  font-weight: 400;
}

#news-portal-dashboard .main-content.free-pro-content-wrapper td:first-child h3 {
  font-size: 16px;
}

#news-portal-dashboard .main-content.free-pro-content-wrapper td .dashicons-yes {
  color: #6eb77a;
}

#news-portal-dashboard .main-content.free-pro-content-wrapper td .dashicons-no-alt {
  color: #ec7c7c;
}

#news-portal-dashboard .main-content.free-pro-content-wrapper td .dashicons {
  font-size: 34px;
  line-height: 20px;
  text-indent: -8px;
}

#news-portal-dashboard .changelog-content-wrapper,
.plugin-content-wrapper {
  background: #fff;
  padding: 30px;
}

#news-portal-dashboard .changelog-block .block-top,
.plugin-content-wrapper .header-content {
  display: flex;
}

#news-portal-dashboard .changelog-block {
  margin-bottom: 40px;
  margin-top: 0;
}

#news-portal-dashboard .block-version {
  font-size: 16px;
  font-weight: 700;
}

#news-portal-dashboard .block-date,
.header-content p {
  margin-left: auto;
  font-size: 14px;
  color: #767676;
  margin: 0;
  margin-left: auto;
}

.changelog-top-wrapper {
  text-align: center;
  margin-bottom: 30px;
}

.changelog-top-wrapper li {
  display: inline-block;
  margin-left: 15px;
  font-weight: 700;
}

.changelog-top-wrapper li span {
  margin-right: 5px !important;
}

#news-portal-dashboard .block-content li {
  list-style: none;
  font-size: 15px;
  color: #565656;
}

#news-portal-dashboard .new,
#news-portal-dashboard .fixed,
#news-portal-dashboard .improvement,
#news-portal-dashboard .tweak {
  background: #1E88E5;
  color: #fff;
  display: inline-block;
  width: 25px;
  font-weight: 600;
  margin-right: 15px;
  text-align: center;
  height: 22px;
  line-height: 22px;
  font-size: 14px;
}

#news-portal-dashboard .improvement {
  background: #43A047;
}

#news-portal-dashboard .fixed {
  background: #F4511E;
}

#news-portal-dashboard .tweak {
  background: #5E35B1;
}

#news-portal-dashboard .plugin-listing {
  display: grid;
  grid-template-columns: 48% 48%;
  grid-column-gap: 4%;
}

#news-portal-dashboard .single-plugin-wrap {
  border: 1px solid #e1e1e1;
  padding: 20px;
  display: grid;
  grid-template-columns: 30% 70%;
  margin-bottom: 30px;
}

#news-portal-dashboard .plugin-thumb {
  width: 110px;
  margin: 0;
}

#news-portal-dashboard .plugin-thumb img {
  width: 100%;
}

#news-portal-dashboard .plugin-content-wrap {
  padding-left: 20px;
}

#news-portal-dashboard .plugin-name {
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 10px;
}

#news-portal-dashboard .plugin-meta-wrap {
  margin: 15px 0;
}

#news-portal-dashboard .header-content h3 {
  margin: 0 0 30px;
  font-size: 20px;
  font-weight: 700;
}

/* New Demo Listing */
#news-portal-dashboard .starter-dashboard-content-wrapper .news-portal-container {
  grid-template-columns: 100%;
}

.demo-listing-wrapper .single-demo img {
  width: 100%;
  float: none;
}

.all-demos-wrap {
  margin-left: -3%;
  margin-top: 30px;
  margin-bottom: -3%;
  padding: 0 40px 40px;
  text-align: left;
}

.demo-listing-wrapper .single-demo {
  width: 30.33%;
  display: inline-block !important;
  margin-right: -4px;
  margin-left: 3%;
  vertical-align: top;
  margin-bottom: 3%;
}

.demo-info-wrapper {
  position: relative;
}

.demo-info-wrapper h2 {
  font-size: 15px;
  font-weight: 600;
  height: 18px;
  margin: 0;
  padding: 15px;
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, .1);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  background: #F6F6F6;
  text-align: left;
}

.demo-info-wrapper .theme-actions {
  position: absolute;
  bottom: 0;
  top: auto;
  -webkit-transform: none;
  transform: none;
  right: 0;
  padding: 10px 15px;
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, .1);
}

.demo-info-wrapper .theme-actions a {
  display: inline-block;
  margin: 0 5px;
  float: none;
}

.news-portal-plugin-message {
  font-size: 18px;
  display: inline-block;
  margin-top: 40px;
  color: #212121;
  font-weight: 600;
  text-transform: capitalize;
  margin-right: 10px;
}

.configure-msg {
  font-weight: 700;
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
  display: block;
  text-transform: capitalize;
  padding: 20px;
}

#news-portal-dashboard table {
  width: 100%;
  border-collapse: collapse;
}

#news-portal-dashboard td {
  text-align: center;
}

#news-portal-dashboard table td {
  font-weight: 600;
  font-size: 16px;
}

#news-portal-dashboard table tr .btn-wrapper .button {
  font-size: 16px;
  padding: 5px 50px;
  font-weight: 600;
}

.sidebar-block .button {
  padding: 7px 10px;
}

.sidebar-block .button span {
  margin-left: 6px;
  position: relative;
  top: 4px;
}

@media (max-width: 1500px) {

  .welcome-notice-details-wrapper .notice-detail-wrap {
    width: 65%;
  }
  .welcome-notice-details-wrapper {
    padding: 15px 15px 15px;
  }
    .notice-detail-wrap .wrap-content {
    font-size: 12px;
  }
    .notice-detail-wrap .wrap-title {
    margin-top: 0;
  }
    .news-portal-welcome-title-wrapper {
    padding: 10px 0 5px;
  }
    .notice-detail-wrap .wrap-title {
    font-size: 16px;
    margin-bottom: 10px;
  }
    .demo-wrap {
    margin-bottom: 18px;
  }
    .news-portal-welcome-title-wrapper .notice-title {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 600;
    margin-top: 0;
  }
    .wp-core-ui .button.button-hero {
    font-size: 12px;
    padding: 0 10px;
    line-height: 30px;
    min-height: 30px;
  }
  
  .news-portal-get-started.button.button-primary.button-hero{
    margin-right:5px;
    padding: 0px 15px;
  }
  
  .welcome-notice-details-wrapper .notice-detail-wrap.image{
    width:20%;
  }
  }
  